h1,
h2,
h3,
h4,
h5 {
  color: #37baf5;
}

.option {
  flex-direction: row !important;
}

.clickMe {
  margin-block: 1rem;
}

.option h3 {
  padding: 0;
  margin-right: 2rem;
  width: 18rem;
  font-weight: bold;
  text-align: left;
}

.selectContainer {
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto-Regular';
  height: 2rem;
  font-size: 1rem;
  width: 18rem;
  padding-left: 0.3rem;
}

.optionsContainer {
  margin-bottom: 2rem;
}

.submitBtn {
  margin-bottom: 2rem;
  width: 12rem;
  height: 3rem;
  text-decoration: none;
  border: 0;
  background: #37baf5;
  color: #fff;
  border-radius: 4px;
}

.submitBtn p {
  background-color: #37baf5;
  font-weight: bold;
}
